<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Login </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
        <h1> Register Page </h1>
        <form>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="mb-3">
                        <label for="name" class="label-primary">Name</label>
                        <input type="text" class="form-control" id="name" v-model="userDetail.name" />
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="label-primary">Surname</label>
                        <input type="text" class="form-control" id="surname" v-model="userDetail.surname" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"> Email address</label>
                        <input type="email" class="form-control" v-model="userDetail.email" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" v-model="userDetail.password"
                            id="exampleInputPassword1">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                            v-model="userDetail.gender" value="Kadın">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Kadın
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked v-model="userDetail.gender" value="Erkek">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Erkek
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Girdiğiniz Bilgiler</h4>
                    </div>
                    <div class="panel-body">
                        <p>Adı: {{ userDetail.name }} </p>
                        <p>Soyadı: {{ userDetail.surname }} </p>
                        <p>E-mail: {{ userDetail.email }} </p>
                        <p>Şifre: {{ userDetail.password }} </p>
                        <p>Cinsiyet: {{ userDetail.gender }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
</body>

</html>